/* open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root{
    --theme-color: rgb(9, 180, 81)
}

*{
    font-family: "Open Sans", sans-serif;
}

body{
    padding: 0 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav a{
    color: #404040CC;
    text-decoration: none;
    margin: 0 24px;
}

.btn{
    padding: 12px 24px;
    border: none;
    border-radius: 5px; 
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-color);
}

.--primary{
    background-color: var(--theme-color);
    color: #fff;
}

.background{
    display: flex;
    align-items: center;
    padding: 60px;
    background-image: linear-gradient(to top right, rgba(9, 180, 81,0.1), #fff, #fff);
    border-radius: 50px;
}

.background__content{
    width: 589px;
}

.background__content h1{
    font-size: 60px;
    font-weight: 700;
}

.background__img img{
    width: 600px;
}

.--main-color{
    color: var(--theme-color);
}

.header__mobile{
    padding: 28px 25px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.header__mobile .home{
    display: flex;
    align-items: center;
}

.header__mobile .home i{
    margin-right: 12px;
    font-size: 32px;
}

.header__mobile i{
    font-size: 32px;
}

@media only screen and (max-width: 1160px){
    .header__mobile{
        display: flex;
    }
    .header{
        display: none;
    }
}